In [1]:
pip install --upgrade category_encoders

Collecting category_encoders
  Downloading category_encoders-2.6.3-py2.py3-none-any.whl (81 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 81.9/81.9 kB 2.0 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.14.0 in /usr/local/lib/python3.10/dist-packages (from category_encoders) (1.25.2)
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.10/dist-packages (from category_encoders) (1.2.2)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.10/dist-packages (from category_encoders) (1.11.4)
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.10/dist-packages (from category_encoders) (0.14.2)
Requirement already satisfied: pandas>=1.0.5 in /usr/local/lib/python3.10/dist-packages (from category_encoders) (2.0.3)
Requirement already satisfied: patsy>=0.5.1 in /usr/local/lib/python3.10/dist-packages (from category_encoders) (0.5.6)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.0.5->category_encoders) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.0.5->category_encoders) (2023.4)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.0.5->category_encoders) (2024.1)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from patsy>=0.5.1->category_encoders) (1.16.0)
Requirement already satisfied: joblib>=1.1.1 in /usr/local/lib/python3.10/dist-packages (from scikit-learn>=0.20.0->category_encoders) (1.4.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn>=0.20.0->category_encoders) (3.5.0)
Requirement already satisfied: packaging>=21.3 in /usr/local/lib/python3.10/dist-packages (from statsmodels>=0.9.0->category_encoders) (24.1)
Installing collected packages: category_encoders
Successfully installed category_encoders-2.6.3

In [2]:
import pandas as pd
import numpy as np
import category_encoders as ce
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler

In [3]:
loan_approval_data = pd.read_csv('sample_data/loan_approval_dataset.csv')
display(loan_approval_data.columns)
display(loan_approval_data)
print(loan_approval_data.isnull().any())

Index(['loan_id', ' no_of_dependents', ' education', ' self_employed',
       ' income_annum', ' loan_amount', ' loan_term', ' cibil_score',
       ' residential_assets_value', ' commercial_assets_value',
       ' luxury_assets_value', ' bank_asset_value', ' loan_status'],
      dtype='object')

,loan_id,no_of_dependents,education,self_employed,income_annum,loan_amount,loan_term,cibil_score,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value,loan_status
0,1,2,Graduate,No,9600000,29900000,12,778,2400000,17600000,22700000,8000000,Approved
1,2,0,Not Graduate,Yes,4100000,12200000,8,417,2700000,2200000,8800000,3300000,Rejected
2,3,3,Graduate,No,9100000,29700000,20,506,7100000,4500000,33300000,12800000,Rejected
3,4,3,Graduate,No,8200000,30700000,8,467,18200000,3300000,23300000,7900000,Rejected
4,5,5,Not Graduate,Yes,9800000,24200000,20,382,12400000,8200000,29400000,5000000,Rejected
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4264,4265,5,Graduate,Yes,1000000,2300000,12,317,2800000,500000,3300000,800000,Rejected
4265,4266,0,Not Graduate,Yes,3300000,11300000,20,559,4200000,2900000,11000000,1900000,Approved
4266,4267,2,Not Graduate,No,6500000,23900000,18,457,1200000,12400000,18100000,7300000,Rejected
4267,4268,1,Not Graduate,No,4100000,12800000,8,780,8200000,700000,14100000,5800000,Approved
4268,4269,1,Graduate,No,9200000,29700000,10,607,17800000,11800000,35700000,12000000,Approved

loan_id                      False
 no_of_dependents            False
 education                   False
 self_employed               False
 income_annum                False
 loan_amount                 False
 loan_term                   False
 cibil_score                 False
 residential_assets_value    False
 commercial_assets_value     False
 luxury_assets_value         False
 bank_asset_value            False
 loan_status                 False
dtype: bool

In [4]:
print(loan_approval_data[' education'].unique())
print(loan_approval_data[' self_employed'].unique())
print(loan_approval_data[' loan_status'].unique())

# encoder_education=ce.OneHotEncoder(cols=' education',handle_unknown='return_nan',return_df=True,use_cat_names=True)
# loan_approval_data_encoded = encoder_education.fit_transform(loan_approval_data)

# encoder_self_employed=ce.OneHotEncoder(cols=' self_employed',handle_unknown='return_nan',return_df=True,use_cat_names=True)
# loan_approval_data_encoded = encoder_self_employed.fit_transform(loan_approval_data_encoded)

le=LabelEncoder()
loan_approval_data[' education'] = le.fit_transform(loan_approval_data[' education'])
loan_approval_data[' self_employed'] = le.fit_transform(loan_approval_data[' self_employed'])
loan_approval_data[' loan_status'] = le.fit_transform(loan_approval_data[' loan_status'])

display(loan_approval_data)

[' Graduate' ' Not Graduate']
[' No' ' Yes']
[' Approved' ' Rejected']

,loan_id,no_of_dependents,education,self_employed,income_annum,loan_amount,loan_term,cibil_score,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value,loan_status
0,1,2,0,0,9600000,29900000,12,778,2400000,17600000,22700000,8000000,0
1,2,0,1,1,4100000,12200000,8,417,2700000,2200000,8800000,3300000,1
2,3,3,0,0,9100000,29700000,20,506,7100000,4500000,33300000,12800000,1
3,4,3,0,0,8200000,30700000,8,467,18200000,3300000,23300000,7900000,1
4,5,5,1,1,9800000,24200000,20,382,12400000,8200000,29400000,5000000,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4264,4265,5,0,1,1000000,2300000,12,317,2800000,500000,3300000,800000,1
4265,4266,0,1,1,3300000,11300000,20,559,4200000,2900000,11000000,1900000,0
4266,4267,2,1,0,6500000,23900000,18,457,1200000,12400000,18100000,7300000,1
4267,4268,1,1,0,4100000,12800000,8,780,8200000,700000,14100000,5800000,0
4268,4269,1,0,0,9200000,29700000,10,607,17800000,11800000,35700000,12000000,0

In [9]:
col_names = loan_approval_data.columns
print(col_names)
# apply standardization on numerical features
for i in col_names:

    # fit on training data column
    scale = StandardScaler().fit(loan_approval_data[[i]])

    # transform the training data column
    loan_approval_data[i] = scale.transform(loan_approval_data[[i]])

display(loan_approval_data)

Index(['loan_id', ' no_of_dependents', ' education', ' self_employed',
       ' income_annum', ' loan_amount', ' loan_term', ' cibil_score',
       ' residential_assets_value', ' commercial_assets_value',
       ' luxury_assets_value', ' bank_asset_value', ' loan_status'],
      dtype='object')

,loan_id,no_of_dependents,education,self_employed,income_annum,loan_amount,loan_term,cibil_score,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value,loan_status
0,-1.731645,-0.294102,-0.995559,-1.007288,1.617979,1.633052,0.192617,1.032792,-0.780058,2.877289,0.832028,0.930304,-0.779297
1,-1.730834,-1.473548,1.004461,0.992765,-0.341750,-0.324414,-0.508091,-1.061051,-0.733924,-0.631921,-0.694993,-0.515936,1.283207
2,-1.730022,0.295621,-0.995559,-1.007288,1.439822,1.610933,1.594031,-0.544840,-0.057300,-0.107818,1.996520,2.407316,1.283207
3,-1.729211,0.295621,-0.995559,-1.007288,1.119139,1.721525,-0.508091,-0.771045,1.649637,-0.381263,0.897943,0.899533,1.283207
4,-1.728399,1.475067,1.004461,0.992765,1.689242,1.002681,1.594031,-1.264055,0.757724,0.735304,1.568075,0.007172,1.283207
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4264,1.728399,1.475067,-0.995559,0.992765,-1.446324,-1.419268,0.192617,-1.641063,-0.718546,-1.019301,-1.299210,-1.285213,1.283207
4265,1.729211,-1.473548,1.004461,0.992765,-0.626801,-0.423946,1.594031,-0.237434,-0.503257,-0.472412,-0.453306,-0.946732,-0.779297
4266,1.730022,-0.294102,1.004461,-1.007288,0.513405,0.969504,1.243677,-0.829046,-0.964591,1.692361,0.326683,0.714907,1.283207
4267,1.730834,-0.883825,1.004461,-1.007288,-0.341750,-0.258059,-0.508091,1.044393,0.111856,-0.973727,-0.112748,0.253341,-0.779297
4268,1.731645,-0.883825,-0.995559,-1.007288,1.475453,1.610933,-0.157737,0.040972,1.588126,1.555638,2.260178,2.161148,-0.779297

In [17]:
cred_worthiness_data = pd.read_excel('sample_data/CreditWorthiness.xlsx')
display(cred_worthiness_data.columns)
display(cred_worthiness_data)

Index(['Cbal', 'Cdur', 'Chist', 'Cpur', 'Camt', 'Sbal', 'Edur', 'InRate',
       'MSG', 'Oparties', 'Rdur', 'Prop', 'age', 'inPlans', 'Htype', 'NumCred',
       'JobType', 'Ndepend', 'telephone', 'foreign', 'creditScore'],
      dtype='object')

,Cbal,Cdur,Chist,Cpur,Camt,Sbal,Edur,InRate,MSG,Oparties,...,Prop,age,inPlans,Htype,NumCred,JobType,Ndepend,telephone,foreign,creditScore
0,0 <= Rs. < 2000,9,all settled till now,Business,13790,Rs. < 1000,1 to 4 years,2,married or widowed male,no one,...,real estate,27,bank,own,1,employee with official position,1,yes,no,good
1,0 <= Rs. < 2000,15,dues not paid earlier,electronics,15250,no savings account,more than 7 years,4,single male,"yes, guarantor",...,real estate,50,none,own,2,employee with official position,1,yes,no,good
2,0 <= Rs. < 2000,36,none taken/all settled,Business,19410,Rs. < 1000,more than 7 years,4,single male,no one,...,Unknown,61,none,free,1,"employed either in management, self or in high...",1,yes,no,bad
3,0 <= Rs. < 2000,48,none taken/all settled,Business,144090,Rs. < 1000,1 to 4 years,2,single male,no one,...,Other cars etc.,25,none,own,1,employee with official position,1,yes,no,bad
4,no checking account,24,all settled till now,electronics,31690,Rs. < 1000,less than 1 year,4,divorced or separated or married female,no one,...,life insurance/building society,26,none,own,1,employee with official position,1,yes,no,good
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,no checking account,6,all settled,second hand vehicle,7710,no savings account,1 to 4 years,1,single male,"yes, guarantor",...,real estate,26,stores,own,1,resident unskilled,2,no,no,good
996,0 <= Rs. < 2000,12,all settled till now,electronics,64560,no savings account,not employed,2,single male,no one,...,Unknown,52,none,own,1,"employed either in management, self or in high...",1,yes,no,bad
997,no checking account,36,dues not paid earlier,electronics,95540,Rs. < 1000,1 to 4 years,2,divorced or separated or married female,no one,...,Other cars etc.,31,stores,own,2,employee with official position,1,no,no,good
998,Rs. >=2000,18,all settled till now,second hand vehicle,19490,Rs. < 1000,more than 7 years,3,divorced or separated or married female,no one,...,Other cars etc.,23,none,own,1,"employed either in management, self or in high...",1,no,no,good
999,Rs. < 0,36,dues not paid earlier,furniture,62170,Rs. < 1000,less than 1 year,4,divorced or separated or married female,"yes, co-applicant",...,Unknown,23,none,pays rent,2,resident unskilled,1,yes,no,bad

In [18]:
print(cred_worthiness_data.isnull().any())

Cbal           False
Cdur           False
Chist          False
Cpur           False
Camt           False
Sbal           False
Edur           False
InRate         False
MSG            False
Oparties       False
Rdur           False
Prop           False
age            False
inPlans        False
Htype          False
NumCred        False
JobType        False
Ndepend        False
telephone      False
foreign        False
creditScore    False
dtype: bool

In [19]:
print(cred_worthiness_data['Cbal'].unique())
print(cred_worthiness_data['Chist'].unique())
print(cred_worthiness_data['Cpur'].unique())
print(cred_worthiness_data['Sbal'].unique())
print(cred_worthiness_data['Edur'].unique())
print(cred_worthiness_data['MSG'].unique())
print(cred_worthiness_data['Oparties'].unique())
print(cred_worthiness_data['Rdur'].unique())
print(cred_worthiness_data['Prop'].unique())
print(cred_worthiness_data['inPlans'].unique())
print(cred_worthiness_data['Htype'].unique())
print(cred_worthiness_data['JobType'].unique())
print(cred_worthiness_data['telephone'].unique())
print(cred_worthiness_data['foreign'].unique())
print(cred_worthiness_data['creditScore'].unique())


le=LabelEncoder()
cred_worthiness_data['Cbal'] = le.fit_transform(cred_worthiness_data['Cbal'])
cred_worthiness_data['Chist'] = le.fit_transform(cred_worthiness_data['Chist'])
cred_worthiness_data['Cpur'] = le.fit_transform(cred_worthiness_data['Cpur'])
cred_worthiness_data['Sbal'] = le.fit_transform(cred_worthiness_data['Sbal'])
cred_worthiness_data['Edur'] = le.fit_transform(cred_worthiness_data['Edur'])
cred_worthiness_data['MSG'] = le.fit_transform(cred_worthiness_data['MSG'])
cred_worthiness_data['Oparties'] = le.fit_transform(cred_worthiness_data['Oparties'])
cred_worthiness_data['Rdur'] = le.fit_transform(cred_worthiness_data['Rdur'])
cred_worthiness_data['Prop'] = le.fit_transform(cred_worthiness_data['Prop'])
cred_worthiness_data['inPlans'] = le.fit_transform(cred_worthiness_data['inPlans'])
cred_worthiness_data['Htype'] = le.fit_transform(cred_worthiness_data['Htype'])
cred_worthiness_data['JobType'] = le.fit_transform(cred_worthiness_data['JobType'])
cred_worthiness_data['telephone'] = le.fit_transform(cred_worthiness_data['telephone'])
cred_worthiness_data['foreign'] = le.fit_transform(cred_worthiness_data['foreign'])
cred_worthiness_data['creditScore'] = le.fit_transform(cred_worthiness_data['creditScore'])

display(cred_worthiness_data)

['0 <= Rs. < 2000' 'no checking account' ' Rs. < 0' 'Rs. >=2000']
['all settled till now' 'dues not paid earlier' 'none taken/all settled'
 'all settled']
['Business' 'electronics' 'renovation' 'second hand vehicle' 'education'
 'new vehicle' 'miscellaneous' 'furniture' 'retaining' 'domestic needs']
['Rs. < 1000' 'no savings account' 'Rs. >= 10,000' '5000 <= Rs. < 10,000'
 '1000 <= Rs. < 5,000']
['1 to 4 years' 'more than 7 years' 'less than 1 year' '4 to 7 years'
 'not employed']
['married or widowed male' 'single male'
 'divorced or separated or married female' 'divorced or separated male']
['no one' 'yes, guarantor' 'yes, co-applicant']
['less than a year' 'more than 3 years' '1 to 2 years' '2 to 3 years']
['real estate' 'Unknown' 'Other cars etc.'
 'life insurance/building society']
['bank' 'none' 'stores']
['own' 'free' 'pays rent']
['employee with official position'
 'employed either in management, self or in high position'
 'resident unskilled' 'non resident either unemployed or  unskilled ']
['yes' 'no']
['no' 'yes']
['good' 'bad']

,Cbal,Cdur,Chist,Cpur,Camt,Sbal,Edur,InRate,MSG,Oparties,...,Prop,age,inPlans,Htype,NumCred,JobType,Ndepend,telephone,foreign,creditScore
0,1,9,1,0,13790,2,0,2,2,0,...,3,27,0,1,1,1,1,1,0,1
1,1,15,2,3,15250,4,3,4,3,2,...,3,50,1,1,2,1,1,1,0,1
2,1,36,3,0,19410,2,3,4,3,0,...,1,61,1,0,1,0,1,1,0,0
3,1,48,3,0,144090,2,0,2,3,0,...,0,25,1,1,1,1,1,1,0,0
4,3,24,1,3,31690,2,2,4,1,0,...,2,26,1,1,1,1,1,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,3,6,0,9,7710,4,0,1,3,2,...,3,26,2,1,1,3,2,0,0,1
996,1,12,1,3,64560,4,4,2,3,0,...,1,52,1,1,1,0,1,1,0,0
997,3,36,2,3,95540,2,0,2,1,0,...,0,31,2,1,2,1,1,0,0,1
998,2,18,1,9,19490,2,3,3,1,0,...,0,23,1,1,1,0,1,0,0,1
999,0,36,2,4,62170,2,2,4,1,1,...,1,23,1,2,2,3,1,1,0,0

In [20]:
col_names = cred_worthiness_data.columns
print(col_names)
# apply standardization on numerical features
for i in col_names:

    # fit on training data column
    print(i)
    scale = StandardScaler().fit(cred_worthiness_data[[i]])

    # transform the training data column
    cred_worthiness_data[i] = scale.transform(cred_worthiness_data[[i]])

display(cred_worthiness_data)

Index(['Cbal', 'Cdur', 'Chist', 'Cpur', 'Camt', 'Sbal', 'Edur', 'InRate',
       'MSG', 'Oparties', 'Rdur', 'Prop', 'age', 'inPlans', 'Htype', 'NumCred',
       'JobType', 'Ndepend', 'telephone', 'foreign', 'creditScore'],
      dtype='object')
Cbal
Cdur
Chist
Cpur
Camt
Sbal
Edur
InRate
MSG
Oparties
Rdur
Prop
age
inPlans
Htype
NumCred
JobType
Ndepend
telephone
foreign
creditScore

,Cbal,Cdur,Chist,Cpur,Camt,Sbal,Edur,InRate,MSG,Oparties,...,Prop,age,inPlans,Htype,NumCred,JobType,Ndepend,telephone,foreign,creditScore
0,-0.459026,-0.987573,-0.514205,-1.627966,-0.666445,-0.130531,-1.134975,-0.870183,-0.135388,-0.303686,...,1.263992,-0.751642,-2.154977,-0.133710,-0.704926,-0.289639,-0.428290,1.214598,-0.196014,0.654654
1,-0.459026,-0.489762,1.072848,-0.585734,-0.614696,1.669901,1.097762,0.918477,0.845685,3.885083,...,1.263992,1.271265,0.218346,-0.133710,1.027079,-0.289639,-0.428290,1.214598,-0.196014,0.654654
2,-0.459026,1.252574,2.659902,-1.627966,-0.467248,-0.130531,1.097762,0.918477,0.845685,-0.303686,...,-0.381831,2.238742,0.218346,-2.016956,-0.704926,-1.346717,-0.428290,1.214598,-0.196014,-1.527525
3,-0.459026,2.248194,2.659902,-1.627966,3.951952,-0.130531,-1.134975,-0.870183,0.845685,-0.303686,...,-1.204743,-0.927547,0.218346,-0.133710,-0.704926,-0.289639,-0.428290,1.214598,-0.196014,-1.527525
4,1.132053,0.256953,-0.514205,-0.585734,-0.031991,-0.130531,0.353517,0.918477,-1.116461,-0.303686,...,0.441081,-0.839594,0.218346,-0.133710,-0.704926,-0.289639,-0.428290,1.214598,-0.196014,0.654654
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,1.132053,-1.236478,-2.101259,1.498730,-0.881947,1.669901,-1.134975,-1.764514,0.845685,3.885083,...,1.263992,-0.839594,2.591668,-0.133710,-0.704926,1.824516,2.334869,-0.823318,-0.196014,0.654654
996,-0.459026,-0.738668,-0.514205,-0.585734,1.133064,1.669901,1.842008,-0.870183,0.845685,-0.303686,...,-0.381831,1.447170,0.218346,-0.133710,-0.704926,-1.346717,-0.428290,1.214598,-0.196014,-1.527525
997,1.132053,1.252574,1.072848,-0.585734,2.231130,-0.130531,-1.134975,-0.870183,-1.116461,-0.303686,...,-1.204743,-0.399832,2.591668,-0.133710,1.027079,-0.289639,-0.428290,-0.823318,-0.196014,0.654654
998,0.336513,-0.240857,-0.514205,1.498730,-0.464412,-0.130531,1.097762,0.024147,-1.116461,-0.303686,...,-1.204743,-1.103451,0.218346,-0.133710,-0.704926,-1.346717,-0.428290,-0.823318,-0.196014,0.654654
999,-1.254566,1.252574,1.072848,-0.238324,1.048352,-0.130531,0.353517,0.918477,-1.116461,1.790699,...,-0.381831,-1.103451,0.218346,1.749535,1.027079,1.824516,-0.428290,1.214598,-0.196014,-1.527525

In [63]:
parse_dates = ['Date']
household_transactions_data = pd.read_csv('sample_data/Daily Household Transactions.csv', parse_dates=parse_dates)
display(household_transactions_data.columns)
display(household_transactions_data)
print(household_transactions_data.isnull().any())

<ipython-input-63-536049820584>:2: UserWarning: Parsing dates in %d/%m/%Y %H:%M:%S format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  household_transactions_data = pd.read_csv('sample_data/Daily Household Transactions.csv', parse_dates=parse_dates)

Index(['Date', 'Mode', 'Category', 'Subcategory', 'Note', 'Amount',
       'Income/Expense', 'Currency'],
      dtype='object')

,Date,Mode,Category,Subcategory,Note,Amount,Income/Expense,Currency
0,20/09/2018 12:04:08,Cash,Transportation,Train,2 Place 5 to Place 0,30.0,Expense,INR
1,20/09/2018 12:03:15,Cash,Food,snacks,Idli medu Vada mix 2 plates,60.0,Expense,INR
2,19/09/2018,Saving Bank account 1,subscription,Netflix,1 month subscription,199.0,Expense,INR
3,17/09/2018 23:41:17,Saving Bank account 1,subscription,Mobile Service Provider,Data booster pack,19.0,Expense,INR
4,16/09/2018 17:15:08,Cash,Festivals,Ganesh Pujan,Ganesh idol,251.0,Expense,INR
...,...,...,...,...,...,...,...,...
2456,1/1/2015,Cash,Transportation,NaN,share jeep - Place T base to top,20.0,Expense,INR
2457,1/1/2015,Cash,Transportation,NaN,share auto - Place H to Place T base,20.0,Expense,INR
2458,1/1/2015,Cash,Transportation,NaN,bus - brc to Place H,30.0,Expense,INR
2459,1/1/2015,Cash,Food,NaN,tea,10.0,Expense,INR
2460,1/1/2015,Cash,Transportation,NaN,share auto - hospital to brc station,10.0,Expense,INR

Date              False
Mode              False
Category          False
Subcategory        True
Note               True
Amount            False
Income/Expense    False
Currency          False
dtype: bool

In [64]:
print(household_transactions_data.isnull().any())

Date              False
Mode              False
Category          False
Subcategory        True
Note               True
Amount            False
Income/Expense    False
Currency          False
dtype: bool

In [65]:
household_transactions_data["Subcategory"].fillna("Miscellaneous", inplace = True)
household_transactions_data["Note"].fillna("Untracked", inplace = True)

In [66]:
print(household_transactions_data.isnull().any())

Date              False
Mode              False
Category          False
Subcategory       False
Note              False
Amount            False
Income/Expense    False
Currency          False
dtype: bool

In [67]:
print(household_transactions_data['Mode'].unique())
print(household_transactions_data['Category'].unique())
print(household_transactions_data['Subcategory'].unique())
print(household_transactions_data['Note'].unique())
print(household_transactions_data['Income/Expense'].unique())
print(household_transactions_data['Currency'].unique())

le=LabelEncoder()
household_transactions_data['Mode'] = le.fit_transform(household_transactions_data['Mode'])
household_transactions_data['Category'] = le.fit_transform(household_transactions_data['Category'])
household_transactions_data['Subcategory'] = le.fit_transform(household_transactions_data['Subcategory'])
household_transactions_data['Note'] = le.fit_transform(household_transactions_data['Note'])
household_transactions_data['Income/Expense'] = le.fit_transform(household_transactions_data['Income/Expense'])
household_transactions_data['Currency'] = le.fit_transform(household_transactions_data['Currency'])

display(household_transactions_data)

['Cash' 'Saving Bank account 1' 'Credit Card' 'Equity Mutual Fund B'
 'Debit Card' 'Share Market Trading' 'Saving Bank account 2'
 'Equity Mutual Fund C' 'Equity Mutual Fund A' 'Equity Mutual Fund D'
 'Fixed Deposit' 'Recurring Deposit']
['Transportation' 'Food' 'subscription' 'Festivals' 'Other'
 'Small Cap fund 2' 'Small cap fund 1' 'Family' 'Equity Mutual Fund E'
 'Apparel' 'Public Provident Fund' 'Saving Bank account 1' 'Gift' 'Salary'
 'Household' 'Dividend earned on Shares' 'Interest' 'Life Insurance'
 'Beauty' 'Health' 'Money transfer' 'maid' 'Culture' 'Tax refund'
 'Tourism' 'Share Market' 'Self-development' 'Amazon pay cashback'
 'Education' 'scrap' 'Petty cash' 'Documents' 'Gpay Reward' 'Social Life'
 'Equity Mutual Fund A' 'Maturity amount' 'Fixed Deposit'
 'Equity Mutual Fund C' 'Equity Mutual Fund F' 'Recurring Deposit'
 'Saving Bank account 2' 'Equity Mutual Fund D' 'Equity Mutual Fund B'
 'Bonus' 'Investment' 'Grooming' 'Rent' 'Cook' 'garbage disposal'
 'water (jar /tanker)']
['Train' 'snacks' 'Netflix' 'Mobile Service Provider' 'Ganesh Pujan'
 'Tata Sky' 'auto' 'Miscellaneous' 'Grocery' 'Lunch' 'Milk' 'Pocket money'
 'Laundry' 'breakfast' 'Dinner' 'Sweets' 'Kirana' 'Ice cream' 'curd'
 'Biscuits' 'Rajgira ladu' 'Navratri' 'train' 'Tea' 'flour mill'
 'Appliances' 'home decor' 'grooming' 'Health' 'Clothing' 'clothes' 'Home'
 'chocolate' 'Medicine' 'Eating out' 'Movie' 'vegetables' 'fruits'
 'Potato' 'Onions' 'Taxi' 'Hardware' 'Eggs' 'Bread' 'Petrol' 'Hospital'
 'Mahanagar Gas' 'Lab Tests' 'Bus' 'Travels' 'Kitchen' 'Footwear'
 'Entry Fees' 'gadgets' 'Accessories' 'misc' 'Stationary' 'Newspaper'
 'Toiletries' 'Bike' 'beverage' 'makeup' 'Books' 'Holi' 'Courier'
 'Leisure' 'Updation' 'Amazon Prime' 'Edtech Course' 'Hotstar' 'Diwali'
 'Wifi Internet Service' 'Trip' 'Furniture' 'Water' 'Cable TV' 'medicine'
 'Mutual fund' 'Public Provident Fund' 'ropeway' 'RD' 'LIC' 'Saloon'
 'gift' 'Rakshabandhan' 'exam fee' 'Kindle unlimited' 'OTT Platform'
 'School supplies' 'Audible' 'Makeup']
['2 Place 5 to Place 0' 'Idli medu Vada mix 2 plates'
 '1 month subscription' ... 'share auto - Place H to Place T base'
 'bus - brc to Place H' 'share auto - hospital to brc station']
['Expense' 'Transfer-Out' 'Income']
['INR']

,Date,Mode,Category,Subcategory,Note,Amount,Income/Expense,Currency
0,20/09/2018 12:04:08,0,44,65,81,30.0,0,0
1,20/09/2018 12:03:15,0,18,88,386,60.0,0,0
2,19/09/2018,9,48,46,20,199.0,0,0
3,17/09/2018 23:41:17,9,48,42,283,19.0,0,0
4,16/09/2018 17:15:08,0,16,20,337,251.0,0,0
...,...,...,...,...,...,...,...,...
2456,1/1/2015,0,44,41,979,20.0,0,0
2457,1/1/2015,0,44,41,975,20.0,0,0
2458,1/1/2015,0,44,41,742,30.0,0,0
2459,1/1/2015,0,18,41,1018,10.0,0,0
2460,1/1/2015,0,44,41,977,10.0,0,0

In [68]:
col_names = household_transactions_data.columns
print(col_names)
# apply standardization on numerical features
for i in col_names:
    if i != 'Date':
      # fit on training data column
      print(i)
      scale = StandardScaler().fit(household_transactions_data[[i]])

      # transform the training data column
      household_transactions_data[i] = scale.transform(household_transactions_data[[i]])

display(household_transactions_data)

Index(['Date', 'Mode', 'Category', 'Subcategory', 'Note', 'Amount',
       'Income/Expense', 'Currency'],
      dtype='object')
Mode
Category
Subcategory
Note
Amount
Income/Expense
Currency

,Date,Mode,Category,Subcategory,Note,Amount,Income/Expense,Currency
0,20/09/2018 12:04:08,-1.042354,1.596116,0.929727,-1.664333,-0.217395,-0.342852,0.0
1,20/09/2018 12:03:15,-1.042354,-0.607031,2.020657,-0.589491,-0.214998,-0.342852,0.0
2,19/09/2018,0.988710,1.935062,0.028525,-1.879302,-0.203893,-0.342852,0.0
3,17/09/2018 23:41:17,0.988710,1.935062,-0.161202,-0.952471,-0.218274,-0.342852,0.0
4,16/09/2018 17:15:08,-1.042354,-0.776504,-1.204700,-0.762171,-0.199739,-0.342852,0.0
...,...,...,...,...,...,...,...,...
2456,1/1/2015,-1.042354,1.596116,-0.208634,1.500284,-0.218194,-0.342852,0.0
2457,1/1/2015,-1.042354,1.596116,-0.208634,1.486188,-0.218194,-0.342852,0.0
2458,1/1/2015,-1.042354,1.596116,-0.208634,0.665079,-0.217395,-0.342852,0.0
2459,1/1/2015,-1.042354,-0.607031,-0.208634,1.637723,-0.218993,-0.342852,0.0
2460,1/1/2015,-1.042354,1.596116,-0.208634,1.493236,-0.218993,-0.342852,0.0

In [82]:
from datetime import datetime
household_transactions_data.Date.dtype
household_transactions_data['Date_year'] = pd.DatetimeIndex(household_transactions_data['Date']).year
#display(household_transactions_data['Date_year'])
household_transactions_data['Date_month'] = pd.DatetimeIndex(household_transactions_data['Date']).month
#display(household_transactions_data['Date_month'])
household_transactions_data['Date_day'] = pd.DatetimeIndex(household_transactions_data['Date']).day
household_transactions_data = household_transactions_data.drop('Date', axis=1)
#display(household_transactions_data['Date_day'])
#display(pd.DatetimeIndex(household_transactions_data['Date']).year)
#print(datetime(household_transactions_data['Date']).year)
display(household_transactions_data)

,Mode,Category,Subcategory,Note,Amount,Income/Expense,Currency,Date_year,Date_month,Date_day
0,-1.042354,1.596116,0.929727,-1.664333,-0.217395,-0.342852,0.0,2018,9,20
1,-1.042354,-0.607031,2.020657,-0.589491,-0.214998,-0.342852,0.0,2018,9,20
2,0.988710,1.935062,0.028525,-1.879302,-0.203893,-0.342852,0.0,2018,9,19
3,0.988710,1.935062,-0.161202,-0.952471,-0.218274,-0.342852,0.0,2018,9,17
4,-1.042354,-0.776504,-1.204700,-0.762171,-0.199739,-0.342852,0.0,2018,9,16
...,...,...,...,...,...,...,...,...,...,...
2456,-1.042354,1.596116,-0.208634,1.500284,-0.218194,-0.342852,0.0,2015,1,1
2457,-1.042354,1.596116,-0.208634,1.486188,-0.218194,-0.342852,0.0,2015,1,1
2458,-1.042354,1.596116,-0.208634,0.665079,-0.217395,-0.342852,0.0,2015,1,1
2459,-1.042354,-0.607031,-0.208634,1.637723,-0.218993,-0.342852,0.0,2015,1,1
2460,-1.042354,1.596116,-0.208634,1.493236,-0.218993,-0.342852,0.0,2015,1,1